<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.tapresolver.tapmap</string>
            <key>UTTypeDescription</key>
            <string>TapResolver Location Backup</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.zip-archive</string>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>tapmap</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>application/zip</string>
                </array>
            </dict>
        </dict>
    </array>
    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.tapresolver.tapmap</string>
            <key>UTTypeDescription</key>
            <string>TapResolver Location Backup</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.zip-archive</string>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>tapmap</string>
                </array>
            </dict>
        </dict>
    </array>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>TapResolver uses Bluetooth to scan beacons and configure KBeacon devices</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>TapResolver uses Bluetooth to scan beacons and configure KBeacon devices</string>
</dict>
</plist>
